.dev-default-skin {
  position: relative;
  color: #fff;
}
.dev-default-skin:-webkit-full-screen {
  width: 100%!important;
  height: 100%!important;
}
.dev-default-skin:-moz-full-screen {
  width: 100%!important;
  height: 100%!important;
}
.dev-default-skin:-ms-full-screen {
  width: 100%!important;
  height: 100%!important;
}
.dev-default-skin video {
  background-color: #000;
}
.dev-default-skin .dev-controls-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.dev-default-skin .dev-control-play {
  position: relative;
  float: left;
}
.dev-default-skin .dev-control-time {
  position: relative;
  float: left;
}
.dev-default-skin .dev-control-mute {
  position: relative;
  float: right;
}
.dev-default-skin .dev-control-progress {
  position: absolute;
  left: 0;
  right: 0;
  width: auto;
  top: -1em;
}
.dev-default-skin .dev-control-progress .dev-progress-wrap {
  position: relative;
  top: 0;
  left: 0;
  height: 15px;
  background-color: #666;
  cursor: pointer;
}
.dev-default-skin .dev-control-progress .dev-progress-loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ccc;
}
.dev-default-skin .dev-control-progress .dev-progress-played {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00a5ff;
}
.dev-default-skin .dev-control-volume {
  position: relative;
  float: right;
  width: 50px;
}
.dev-default-skin .dev-control-volume .dev-volume-wrap {
  position: relative;
  top: 0;
  left: 0;
  height: 15px;
  background-color: #666;
  cursor: pointer;
}
.dev-default-skin .dev-control-volume .dev-volume-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00a5ff;
}
.dev-default-skin .dev-control-fullscreen {
  position: relative;
  float: right;
}
